<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card class="card-product">
    <mat-card-header>
      <h2>
        {{getStringMode()}} producto
      </h2>
    </mat-card-header>
    <mat-card-content fxLayout="Column">
      <div *ngIf="currentMode != ModesEnum.Create" fxFlex="row" fxFlexAlign="end">
        <span>Ultima actualización {{editProduct.updatedAt | date:'medium'}}</span>
      </div>
      <div fxLayout="row">
        <div  fxFlex="50%" >
          <div>
            <mat-form-field  class="full-width">
              <input type="text" [readonly]="currentMode == ModesEnum.Detail"  placeholder="Articulo" formControlName="sku" matInput type="text">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field  class="full-width">
              <input type="text" [readonly]="currentMode == ModesEnum.Detail"  placeholder="Descripción" formControlName="description" matInput
                type="text">
            </mat-form-field>
          </div>
          <div >
            <mat-form-field  class="full-width">
              <input type="text" [readonly]="currentMode == ModesEnum.Detail"  placeholder="Codigo de barras" formControlName="barcode" matInput
                type="text">
            </mat-form-field>
          </div>
          <div >
            <mat-form-field  class="full-width">
              <input type="text" [readonly]="currentMode == ModesEnum.Detail"  placeholder="URL Imagen" formControlName="urlimage" matInput
                type="text">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="center center">
          <img width="300px" *ngIf="editProduct != null" src="{{editProduct.urlimage}}" alt="">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" class="buttons-cards">
        <div fxFlex="50%">
          <button mat-raised-button *ngIf="currentMode == ModesEnum.Edit" (click)="delete()" color="warn">Eliminar</button>
        </div>
        <div fxFlex="50%" fxLayoutAlign="end">
          <button mat-raised-button (click)="redirect()">Cancelar</button>
          <button mat-raised-button *ngIf="currentMode == ModesEnum.Create || currentMode == ModesEnum.Edit" color="primary" [disabled]="form.invalid" type="submit">Guardar</button>
          <button mat-raised-button *ngIf="currentMode == ModesEnum.Detail" color="primary" [disabled]="form.invalid" (click)="editMode()">Editar</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
