<div fxLayout="column">
  <div fxLayout="row">
    <h1>
      Productos
    </h1>
  </div>
  <div fxLayout="row" fxFlexAlign="end" class="buttom-list">
    <button mat-raised-button color="primary" routerLink="create">Crear producto</button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef> Articulo </th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef> Codigo de barras </th>
        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Actualización </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date }} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="viewProduc(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
