/* You can add global styles to this file, and also import other style files */

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  width: 100%;
  padding-right: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

@media(min-width:576px) {

  .container{
      max-width: 1110px;
      padding-right: 16px;
      padding-right: 16px;
      height: 100vh;
  }
}

app-root{
  display: flex;
  flex-flow: column;
}

undefined {
  flex: 1;
}

.full-width{
  width: 100%;
}
